[Unit]
Description=YunoRunner CI
After=network.target

[Service]
Type=simple
Restart=always
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=/opt/pyenv/versions/__APP__/bin/python ./run.py /home/CI_package_check/analyseCI.sh --port __PORT__ --base-url https://__DOMAIN____PATH_URL__

[Install]
WantedBy=multi-user.target
